@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #171b1c;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.select {
  @apply h-[32px] min-h-[32px] rounded-[100px] text-[14px] pl-[10px] pr-[36px] text-gray-100 bg-gray-700  bg-[url(/icons/select-arrow.svg)] bg-[length:16px_16px] bg-[calc(100%-10px)_calc(1px+50%),calc(100%-16.1px)_calc(1px+50%)];
}

.tab:is(.tab-active, [aria-selected="true"]):not(.tab-disabled):not([disabled]),
.tab:is(input:checked) {
  @apply border-gray-100 text-gray-100;

  border-bottom-width: 2px;
}

.tabs,
.tab {
  @apply h-[56px] text-[16px];
}

.tabs-bordered > .tab {
  @apply border-gray-600;

  padding-bottom: 1px;
  border-bottom-width: 1px;
}
